h1 {
  font-size: 60px;
  text-align: center;
}

input {
  text-align: center;
}

body {
  background-image: url("Galaxie.jpg");
  background-size: 1980px 1080px;
}

html{
  color : #FFFFFF;
}

.container {
  height:500px;
  width :1850px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  width: 25em;
}
