<!DOCTYPE html> <!-- Déclaration du type de document: HTML5 -->
<html> <!-- Début de la balise HTML -->

  <head> <!-- Début de la section d'en-tête du document -->
    <link rel="stylesheet" href="../static/css/404.css" /> <!-- Liaison vers une feuille de style CSS externe -->
    <title>Error 404</title> <!-- Titre de la page affiché dans l'onglet du navigateur -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" /> <!-- Métadonnées sur le type de contenu et l'encodage -->
  </head>

  <body> <!-- Début de la section du corps du document -->
    <div class="Error"> <!-- Début d'une division avec la classe CSS "Error" -->
      <div class="Erreur"> <!-- Début d'une division avec la classe CSS "Erreur" -->
        <h1>Error 404 - Page Non Trouvée</h1> <!-- Titre de niveau 1 indiquant une erreur 404 -->
        <p>Cette Page n'existe pas :/</p> <!-- Paragraphe affichant un message indiquant que la page n'existe pas -->
        <button onclick="window.location.href = 'http://localhost:5000/'" class="HomePage">
          <!-- Bouton avec un événement onclick pour rediriger vers la page d'accueil -->
          <h4>Revenir sur la page d'accueil</h4> <!-- Texte à afficher sur le bouton -->
        </button>
      </div> <!-- Fin de la division "Erreur" -->
    </div> <!-- Fin de la division "Error" -->
  </body> <!-- Fin de la section du corps du document -->

</html> <!-- Fin de la balise HTML -->
