<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/consult.css" />
    <title>Consultation des Contacts</title>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <div class="ConsultDiv">
      <div class="ConsultationDiv">
          <h1>Consultation des Contacts</h1>

          <form action="http://localhost:5000/consultPage" method="post">
              <div class="search-form">
                  <label class="text-wrapper-2">Rechercher :</label>
                  <input type="text" class="div-3" name="Chercher"/>
              </div>
                <select id="catégorie"  class="categorie-box" name="Catégorie" required="required">
  						<option class="p" value="">--Choisis une option de recherche--</option>
  						<option  class="p" value="famille">Catégorie Famille</option>
  						<option class="p" value="travail">Catégorie Travail</option>
  						<option class="p" value="amis">Catégorie Amis</option>
                        <option class="p" value="nom">Par Nom</option>
                        <option class="p" value="lettre">Par Lettre</option>
                        <option class="p" value="*">Tous les Contacts</option>
                    </select>
              <button type="submit" class="Search">
                  <h4>Search</h4>
              </button>
          </form>
          <div class="GoBackDiv">
              <a href="http://localhost:5000/">
                <button  class="GoBack">
                    <h4>Retour en arrière</h4>
                </button>
              </a>
          </div>

    </div>
    </div>
  </body>
</html>
