/* Masque la barre de défilement horizontale de la page */
html {
  overflow-x: hidden;
}

/* Paramètres pour le corps de la page */
body {
  /* Image de fond pour le corps de la page */
  background-image: url(../images/HomePage.jpg);
  /* Redimensionne l'image de fond */
  background-size: 120vw 140vh;
  /* Positionne l'image de fond */
  background-position: 50% 50%;
  /* Hauteur et largeur à 100% de la fenêtre */
  height: 100%;
  width: 100%;
}

/* Styles pour la classe .home-page */
.home-page {
  /* Flexbox pour centrer le contenu */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Hauteur et largeur couvrant la fenêtre */
  height: 100vh;
  width: 100vw;
  /* Position relative pour les éléments positionnés de manière absolue à l'intérieur */
  position: relative;
}

/* Styles pour la classe .home-page .div */
.home-page .div {
  /* Taille fixe pour cet élément */
  width: 1920px;
  height: 1080px;
  /* Position relative pour les éléments positionnés de manière absolue à l'intérieur */
  position: relative;
}

/* Styles pour la classe .text-de-contactform */
.text-de-contactform {
  /* Positionnement absolu en haut à droite de la page */
  position: absolute;
  top: 0;
  right: 0;
  /* Dégradé de couleur pour le texte */
  background: linear-gradient(180deg, rgb(46, 46, 80) 0%, rgb(246, 169, 125) 100%);
  /* Clip le texte au fond dégradé */
  -webkit-background-clip: text !important;
  background-clip: text;
  /* Rend le texte transparent pour montrer le dégradé de couleur */
  -webkit-text-fill-color: transparent;
  /* Styles de police pour le texte */
  font-family: "Palanquin Dark-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

/* Styles pour la classe .home-page .form */
.home-page .form {
  /* Positionnement absolu */
  position: absolute;
  /* Décalage du haut de 28px et de la gauche de 544px */
  top: 28px;
  left: 544px;
}

/* Styles pour la classe .home-page .links */
.home-page .links {
  /* Positionnement absolu avec une largeur de 761px et une hauteur de 271px */
  position: absolute;
  width: 761px;
  height: 271px;
  /* Décalage du haut de 714px et de la gauche de 36px */
  top: 714px;
  left: 36px;
  /* Définition des coins arrondis */
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 20px;
  /* Masque du débordement du contenu */
  overflow: hidden;
  /* Arrière-plan avec dégradé de blanc transparent */
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.36) 0%, rgba(255, 255, 255, 0.25) 100%);
}

/* Styles pour la classe .home-page .consultation-button */
.home-page .consultation-button {
  /* Positionnement absolu avec une largeur de 711px et une hauteur de 64px */
  position: absolute;
  width: 711px;
  height: 64px;
  /* Décalage du haut de 191px et de la gauche de 32px */
  top: 191px;
  left: 32px;
  /* Alignement du texte au centre */
  text-align: center;
}

/* Styles pour la classe .home-page .overlap-group */
.home-page .overlap-group {
  /* Position relative */
  position: relative;
  /* Hauteur de 62px avec un décalage de 2px vers le haut */
  height: 62px;
  top: 2px;
  /* Centrage horizontal */
  margin-right: auto;
  margin-left: auto;
}

/* Styles pour la classe .home-page .div-2 */
.home-page .div-2 {
  /* Positionnement absolu avec une largeur de 711px et une hauteur de 61px */
  position: absolute;
  width: 711px;
  height: 61px;
  /* Décalage du haut de 1px et de la gauche de 0 */
  top: 1px;
  left: 0;
  /* Coins arrondis */
  border-radius: 20px;
  /* Dégradé de couleur pour l'arrière-plan */
  background: linear-gradient(180deg, rgba(46, 46, 80, 0.64) 0%, rgba(246, 169, 125, 0.8) 100%);
  /* Curseur de type pointeur */
  cursor: pointer;
}

/* Styles pour .home-page .text-wrapper */
.home-page .text-wrapper {
  /* Position relative pour l'élément */
  position: relative;
  /* Centre l'élément horizontalement */
  margin: auto;
  /* Utilisation de la police Palanquin Dark-Regular ou une police similaire sans empattement */
  font-family: "Palanquin Dark-Regular", sans-serif;
  /* Poids de la police : normal */
  font-weight: 400;
  /* Couleur du texte en hexadécimal */
  color: #251c43;
  /* Taille de la police */
  font-size: 25px;
  /* Alignement du texte au centre */
  text-align: center;
  /* Espacement des caractères : par défaut */
  letter-spacing: 0;
  /* Hauteur de ligne normale */
  line-height: normal;
}

/* Styles pour .home-page .supress-button-form */
.home-page .supress-button-form {
  /* Positionnement absolu */
  position: absolute;
  /* Largeur et hauteur définies */
  width: 711px;
  height: 64px;
  /* Décalage par rapport au haut et à la gauche */
  top: 93px;
  left: 32px;
  /* Autres styles peuvent être appliqués ici */
}

/* Styles pour .home-page .text-de-contactform-2 */
.home-page .text-de-contactform-2 {
  /* Décalage par rapport au haut */
  top: 15px;
  /* Taille de la police */
  font-size: 30px;
  /* Positionnement absolu avec largeur fixe */
  position: absolute;
  width: 761px;
  /* Alignement du texte au centre */
  text-align: center;
  /* Autres styles de police et couleur */
  font-family: "Palanquin Dark-SemiBol", sans-serif;
  font-weight: 600;
  color: #ffffff;
  /* Autres styles peuvent être appliqués ici */
}

/* Styles pour .home-page .contact-form */
.home-page .contact-form {
  /* Positionnement absolu de l'élément */
  position: absolute;
  /* Largeur et hauteur définies */
  width: 761px;
  height: 672px;
  /* Décalage par rapport au haut et à la gauche */
  top: 17px;
  left: 30px;
  /* Arrondi des coins inférieurs droits et gauches */
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 40px;
  /* Arrondi des coins supérieurs droits et gauches */
  border-top-left-radius: 20px;
  border-top-right-radius: 40px;
  /* Masquage du contenu débordant de la zone */
  overflow: hidden;
  /* Arrière-plan sous forme de dégradé linéaire */
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.36) 0%, rgba(255, 255, 255, 0.25) 100%);
}

/* Styles pour .home-page .overlap */
.home-page .overlap {
  /* Positionnement relatif de l'élément */
  position: relative;
  /* Hauteur spécifiée */
  height: 672px;
  /* Décalage vers le haut (négatif) pour s'aligner */
  top: -1px;
}

/* Styles pour .home-page .button-form */
.home-page .button-form {
  /* Positionnement absolu */
  position: absolute;
  /* Largeur et hauteur définies */
  width: 343px;
  height: 84px;
  /* Décalage par rapport au haut et à la gauche */
  top: 588px;
  left: 215px;
  /* Autres styles peuvent être appliqués ici */
}

/* Styles pour .home-page .overlap-group-2 */
.home-page .overlap-group-2 {
  /* Positionnement relatif de l'élément */
  position: relative;
  /* Largeur et hauteur définies */
  width: 297px;
  height: 65px;
  /* Décalage à partir de la gauche */
  left: 17px;
  /* Autres styles peuvent être appliqués ici */
}

/* Styles pour .home-page .button-submit */
.home-page .button-submit {
  /* Positionnement absolu */
  position: absolute;
  /* Largeur et hauteur définies */
  width: 297px;
  height: 61px;
  /* Décalage par rapport au haut et à la gauche */
  top: 4px;
  left: 0;
  /* Arrondi des coins */
  border-radius: 20px;
  /* Arrière-plan sous forme de dégradé linéaire */
  background: linear-gradient(180deg, rgba(46, 46, 80, 0.8) 0%, rgba(246, 169, 125, 0.64) 100%);
}

/* Styles pour .home-page .button-text */
.home-page .button-text {
  /* Positionnement relatif de l'élément */
  position: relative;
  /* Réinitialisation des décalages top et left */
  top: 0;
  left: 0;
  /* Utilisation de la police Palanquin Dark-Regular ou similaire sans empattement */
  font-family: "Palanquin Dark-Regular", sans-serif;
  /* Poids de la police : normal */
  font-weight: 400;
  /* Couleur du texte en hexadécimal */
  color: #ffffff;
  /* Taille de la police */
  font-size: 30px;
  /* Alignement du texte au centre */
  text-align: center;
  /* Espacement des caractères : par défaut */
  letter-spacing: 0;
  /* Hauteur de ligne normale */
  line-height: normal;
}
/* Styles pour .home-page .adress-form */
.home-page .adress-form {
  /* Positionnement absolu de l'élément */
  position: absolute;
  /* Largeur et hauteur spécifiées */
  width: 761px;
  height: 99px;
  /* Décalage par rapport au haut */
  top: 492px;
  left: 0; /* Alignement sur la gauche */
}

/* Styles pour .home-page .text-wrapper-2 */
.home-page .text-wrapper-2 {
  /* Positionnement absolu de l'élément */
  position: absolute;
  /* Largeur spécifiée */
  width: 163px;
  /* Décalage par rapport au haut et à la gauche */
  top: 27px;
  left: 0;
  /* Styles de texte */
  font-family: "Palanquin Dark-Regular", sans-serif;
  font-weight: 400;
  color: #251c43;
  font-size: 30px;
  text-align: right; /* Alignement du texte à droite */
  letter-spacing: 0;
  line-height: normal;
}

/* Styles pour .home-page .div-3 */
.home-page .div-3 {
  /* Positionnement absolu de l'élément */
  position: absolute;
  /* Largeur et hauteur spécifiées */
  width: 518px;
  height: 58px;
  /* Décalage par rapport au haut et à la gauche */
  top: 28px;
  left: 183px;
  /* Arrondi des coins */
  border-radius: 20px;
  /* Arrière-plan sous forme de dégradé linéaire */
  background: linear-gradient(180deg, rgb(217, 217, 217) 0%, rgba(217, 217, 217, 0.3) 100%);
}

/* Styles pour .home-page .mail-form */
.home-page .mail-form {
  /* Largeur et hauteur spécifiées */
  width: 761px;
  height: 99px;
  /* Décalage par rapport au haut */
  top: 406px;
  /* Positionnement absolu de l'élément */
  position: absolute;
  left: 0; /* Alignement sur la gauche */
}

/* Styles pour .home-page .telephone-form */
.home-page .telephone-form {
  /* Largeur et hauteur spécifiées */
  width: 761px;
  height: 99px;
  /* Décalage par rapport au haut */
  top: 320px;
  /* Positionnement absolu de l'élément */
  position: absolute;
  left: 0; /* Alignement sur la gauche */
}

/* Styles pour .home-page .overlap-2 */
.home-page .overlap-2 {
  /* Positionnement absolu de l'élément */
  position: absolute;
  /* Largeur et hauteur spécifiées */
  width: 143px;
  height: 59px;
  /* Décalage par rapport au haut et à la gauche */
  top: 27px;
  left: 178px;
}

/* Styles pour .home-page .text-wrapper-3 */
.home-page .text-wrapper-3 {
  /* Positionnement absolu de l'élément */
  position: absolute;
  /* Largeur spécifiée */
  width: 143px;
  /* Décalage par rapport au haut et à la gauche */
  top: 0;
  left: 0;
  /* Rotation de l'élément */
  transform: rotate(0.04deg);
  /* Styles de texte */
  font-family: "Palanquin Dark-Regular", sans-serif;
  font-weight: 400;
  color: #251c43;
  font-size: 30px;
  text-align: center; /* Alignement du texte au centre */
  letter-spacing: 0;
  line-height: normal;
}

/* Styles pour .home-page .categorie-form */
.home-page .categorie-form {
  /* Largeur et hauteur spécifiées */
  width: 761px;
  height: 99px;
  /* Décalage par rapport au haut */
  top: 234px;
  /* Positionnement absolu de l'élément */
  position: absolute;
  left: 0; /* Alignement sur la gauche */
}

/* Styles pour .home-page .overlap-3 */
.home-page .overlap-3 {
  /* Positionnement absolu de l'élément */
  position: absolute;
  /* Largeur et hauteur spécifiées */
  width: 518px;
  height: 59px;
  /* Décalage par rapport au haut et à la gauche */
  top: 27px;
  left: 183px;
}

/* Styles pour .home-page .categorie-box */
.home-page .categorie-box {
  /* Positionnement absolu de l'élément */
  position: absolute;
  /* Largeur et hauteur spécifiées */
  width: 518px;
  height: 58px;
  /* Décalage par rapport au haut */
  top: 1px;
  /* Arrondi des coins */
  border-radius: 20px;
  /* Arrière-plan sous forme de dégradé linéaire */
  background: linear-gradient(180deg, rgb(217, 217, 217) 0%, rgba(217, 217, 217, 0.3) 100%);
  left: 0; /* Alignement sur la gauche */
}

/* Styles pour .home-page .p */
.home-page .p {
  /* Positionnement absolu de l'élément */
  position: absolute;
  /* Largeur spécifiée */
  width: 518px;
  /* Décalage par rapport au haut */
  top: 0;
  left: 0; /* Alignement sur la gauche */
  /* Styles de texte */
  font-family: "Palanquin Dark-Regular", sans-serif;
  font-weight: 400;
  color: #251c43;
  font-size: 30px;
  text-align: center; /* Alignement du texte au centre */
  letter-spacing: 0;
  line-height: normal;
}

/* Styles pour .home-page .prenom-form */
.home-page .prenom-form {
  /* Largeur et hauteur spécifiées */
  width: 761px;
  height: 99px;
  /* Décalage par rapport au haut */
  top: 148px;
  /* Positionnement absolu de l'élément */
  position: absolute;
  left: 0; /* Alignement sur la gauche */
}


/* Styles pour .home-page .nom-form */
.home-page .nom-form {
  width: 761px; /* Largeur spécifiée */
  height: 99px; /* Hauteur spécifiée */
  top: 62px; /* Distance depuis le haut */
  position: absolute; /* Position absolue */
  left: 0; /* Alignement sur la gauche */
}

/* Styles pour .home-page .text-de-contactform-3 */
.home-page .text-de-contactform-3 {
  height: 83px; /* Hauteur spécifiée */
  top: 0; /* Distance depuis le haut */
  font-size: 50px; /* Taille de police spécifiée */
  position: absolute; /* Position absolue */
  width: 761px; /* Largeur spécifiée */
  left: 0; /* Alignement sur la gauche */
  /* Styles de texte */
  font-family: "Palanquin Dark-SemiBold", sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-align: center; /* Alignement du texte au centre */
  letter-spacing: 0;
  line-height: normal;
}

/* Styles pour h6 */
h6 {
  margin: 0; /* Aucune marge */
  font-size: 15px; /* Taille de police spécifiée */
}

/* Media query pour les écrans de petite taille */
@media (max-width: 768px) {
  /* Styles pour .home-page .form */
  .home-page .form {
    width: 90%; /* Réduire la largeur pour s'adapter à l'écran */
    margin: 10px auto; /* Centrer et ajouter une marge */
  }
}
