html {
  overflow: hidden;
}

body {
  position: absolute;
  background-image: url(../images/HomePage.jpg);
  background-size: 100vw 100vh;
  background-position: 100% 100%;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ConsultDiv {
    display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  flex-direction: column;

  position: relative;
  background: black;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 40px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.36) 10%, rgba(0, 0, 0, 0.25) 80%);

}

.ConsultationDiv {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  flex-direction: column;
}

h1, p {
  color: #FFFFFF;
    font-size: 50px;
}

.categorie-box {
  position: relative;
  width: 518px;
  height: 58px;
  border-radius: 20px;
  background: linear-gradient(180deg, rgb(217, 217, 217) 0%, rgba(217, 217, 217, 0.3) 100%);
}

.suppress-form {
  width: 761px;
  height: 99px;
  position: relative;
}

.text-wrapper-2 {
  position: relative;
  width: 163px;
  font-family: "Palanquin Dark-Regular", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 30px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.div-3 {
  position: relative;
  width: 518px;
  height: 58px;
  border-radius: 20px;
  background: linear-gradient(180deg, rgb(217, 217, 217) 0%, rgba(217, 217, 217, 0.3) 100%);
}

.suppress {
  position: relative;
  top: 10px;
  width: 297px;
  height: 61px;
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(46, 46, 80, 0.64) 0%, rgba(246, 169, 125, 0.8) 100%);
  cursor: pointer;
}

.SuppressDiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomePage {
  border-radius: 20px;
  background-color: #FFFFFF;
  border-top-right-radius: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
    margin-top: 60px;
}

.HomePageDiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}